@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

:root {
  --primary: linear-gradient(90deg, #23237D, #4062C0);
  --accent: #311b92;
  --bg: #f5f6fa;
  --text: #222;
}






/* HERO */
.main-content{
    max-width: 2200px;
    margin: 65px auto;
    
    
}
.main-content .hero {
  background: linear-gradient(135deg, #042172, #02029e,#6b61d3,#f5f7f8,#f5f7f8);
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 50px;
  height: 300px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.3);
}

.main-content .hero h1 {
  font-family: 'libre baskerville';
  font-weight: 900;
  font-size: 55px;
  margin-bottom: 15px;
}

.main-content .hero span {
  color: #fff;
  font-weight: 900;
}

.main-content .hero p {
  font-size: 20px;
  opacity: 0.8;
  font-family: 'open sans';
  color: #fff;
  margin-top: 0;
}


.main-content .products {
  padding: 60px 20px;
  text-align: center;
  font-family: 'libre baskerville';
  
}
.main-content .products h2 {
  font-size: 2rem;
  color:#02029E;
  font-family: 'libre baskerville';
  
}
.main-content .product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 30px;
  margin-top: 20px;
  margin-bottom:0px;
}

.main-content .product-card {
  background: white;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  text-decoration: none;
  color: inherit;
  transition: 0.3s;
}

.main-content .product-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 14px rgba(0,0,0,0.2);
}

.main-content .product-card img {
  width: 100%;
   height: 250px;   
  object-fit: cover;
  border-bottom: 3px solid #23237D; 
}

.main-content .product-card h3 {
  margin: 15px 0 5px;
  
  font-family: 'libre baskerville';
  color: #23237D;
}

.main-content .product-card p {
  margin-bottom: 20px;
  color: #555;
  font-family: 'open sans';
}
.main-content .product-card .price {
  font-weight: 600;
  color: #23237D;
  margin-bottom: 5px;
}

.main-content .product-card .desc {
  font-size: 0.95em;
  color: #555;
  margin: 0 10px 15px;
}

 






@media (max-width: 600px) {
  nav {
    flex-direction: column;
  }

  nav {
    margin-top: 10px;
  }
}