@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

:root {
  --primary: linear-gradient(90deg, #1a237e, #5c6bc0);
  --accent: #311b92;
  --bg: #f5f6fa;
  --text: #222;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background: var(--bg);
  color: var(--text);
}


/* HERO */
.main-content{
    max-width: 2200px;
    margin: 150px auto;
    
}
.main-content .hero {
  text-align: center;
  padding: 80px 20px;
  background: white;
  box-shadow: 0 2px 10px rgba(0,0,0,0.3);
}

.main-content .hero span {
  
    color: #1a237e;
    font-weight: 900;
}

.main-content .hero p {
  color: #555;
  margin-top: 10px;
}

/* PRODUITS */
.main-content .products {
  padding: 60px 20px;
  text-align: center;
}

.main-content .product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 30px;
  margin-top: 40px;
}

.main-content .product-card {
  background: white;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  text-decoration: none;
  color: inherit;
  transition: 0.3s;
}

.main-content .product-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 14px rgba(0,0,0,0.2);
}

.main-content .product-card img {
  width: 100%;
   height: 250px;   
  object-fit: cover;
  border-bottom: 3px solid #1a237e; 
}

.main-content .product-card h3 {
  margin: 15px 0 5px;
  color: #1a237e;
}

.main-content .product-card p {
  margin-bottom: 20px;
  color: #555;
}
.main-content .product-card .price {
  font-weight: 600;
  color: #1a237e;
  margin-bottom: 5px;
}

.main-content .product-card .desc {
  font-size: 0.95em;
  color: #555;
  margin: 0 10px 15px;
}



/* RESPONSIVE */
@media (max-width: 600px) {
  nav {
    flex-direction: column;
  }

  nav {
    margin-top: 10px;
  }
}