body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  background-color: #e1e3fc;
  color: #333;
   margin: 0;
  padding: 0;
  height:100%;
     min-height: 100vh;
    display: flex;
    flex-direction: column;
 
}










.contact-section {
  display: flex;
  justify-content: center;
  
  padding: 60px 100px;
  gap: 40px;

  margin:100px auto;
  
}

.contact-info {
    background: #ffffff;
    padding: 30px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
    width: 100%;
    max-width: 900px;
    margin: auto;
}

.contact-info h2 {
    background: #0a1d40;
    color: #fff;
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 25px;
    font-size: 22px;
}

.info-grid {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    border: 1px solid #e0e0e0;
    align-items: stretch; 
}

.info-box {
  border: 1px solid #e0e0e0;
  padding: 20px 10px;
  height: 100%;            
  display: flex;            
  flex-direction: column;
  justify-content: center;
}



.info-box h3 {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 8px;
    color: #0a1d40;
}

.info-box p {
    font-size: 16px;
    line-height: 22px;
    color: #240562;
}
.contact-icons {
    margin-top: 25px;
    display: flex;
    justify-content: center;
    gap: 15px;
}

.contact-icons .icon {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    text-decoration: none;
    transition: 0.3s ease;
    border: 2px solid #0a1d40;
    color: #0a1d40;
}


.contact-icons .icon:hover {
    
    color: #fff;
    transform: translateY(-4px);
}

.contact-icons .facebook:hover {
    background-color: #12396c;
    border-color: #092e5f;
}

.contact-icons .instagram:hover {
    background: radial-gradient(circle at 30% 107%, 
    #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    border-color: #d6249f;
}

.contact-icons .linkedin:hover {
    background-color: #1397de;
    border-color: #0c374e;
}



.contact-form {
  flex: 1;
  height:650px;
  background-color: #fff;
  padding: 35px;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.3);
  
  min-width: 350px;
}

.contact-form h2 {
  background-color: #0a1d3c;
  color: white;
  text-align: center;
  padding: 15px;
  border-radius: 6px;
  margin-bottom: 40px;
}

.form-row {
  font-size:16px;
  display: flex;
  gap: 15px;
  
}

input, textarea {
  margin-bottom: 30px;
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

textarea {
  resize: none;
  height: 150px;
  padding:0px;
  font-size: 16px;
  

}

.captcha {
  width: 50%;
  margin:15px 20px 0px;
}

.note {
  font-size: 13px;
  color: #666;
  padding:0px 20px;
}

.submit-btn {
  background-color: #0a1d3c;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  width:170px;
  height:50px;
  font-size: 17px;
  font-weight: 700; 
  text-align:center;
   display:block;
   margin:10px auto ;
  
}

.submit-btn:hover {
  background-color: #38548b;
}


@media (max-width: 992px) {

  
  .contact-section {
    flex-direction: column;
    padding: 40px 50px;
    gap: 40px;
    
  
  }

  
  .contact-info,
  .contact-form {
    max-width: 100%;
    
  }
}


@media (max-width: 768px) {

  .contact-section {
    padding: 30px 20px;
  }

 
  .info-grid {
    grid-template-columns: 1fr;
  }

  
  .form-row {
    flex-direction: column;
  }

  
  .contact-info h2,
  .contact-form h2 {
    font-size: 18px;
  }
}


@media (max-width: 480px) {

 
  .logo img {
    width: 70px;
    height: 70px;
  }


  
  .contact-section {
    padding: 20px 10px;
  }

  .contact-info {
    padding: 20px 15px;
  }

  .contact-form {
    padding: 25px 20px;
  }

  
  input,
  textarea {
    margin-bottom: 18px;
  }

  .submit-btn {
    width: 100%;
    margin-top: 15px;
  }
}