:root {
  --nav-height: 70px;
  --footer-height: 60px;
  --accent-blue: #4062c0;
  --nav-blue: rgba(255, 255, 255, 0.25);
  --body-bg: #e1e3fc; 
  --text-blue: #042172;
}



* { margin:0; padding:0; box-sizing:border-box; }

html, body {
  min-height: 100%;
  overflow-x: hidden; 
  overflow-y: auto;   
}

body {
  font-family: "Poppins", sans-serif;
  background: #e1e3fc !important;
}



.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: var(--nav-height);
  background: #e1e3fc;
  color: #23237d;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  font-size: 16px;
  z-index: 1000;
  backdrop-filter: blur(10px);
}



.logo {
  display: flex;
  align-items: center;
  gap: 8px;
  font-family: 'Libre Baskerville' ;
  font-weight: 700 ;
  font-size: 1.7rem ;
  color: var(--text-blue);
}



.navbar ul {
  display: flex;
  gap: 1.6rem;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar ul li a {
  text-decoration: none;
  color: var(--text-blue);
  font-weight: 700;
  transition: opacity 0.2s ease;
 
}

.navbar ul li a:hover {
  opacity: 0.7;
}

.navbar .btn {
  background: #042172;
  color: white;
  padding: 8px 16px;
  border-radius: 6px;
  text-decoration: none;
  font-weight: 700;
  transition: all 0.3s ease;
}

.navbar .btn:hover {
  background: #042172dd;
  transform: translateY(-2px);
}


main {
  min-height: calc(100vh - var(--nav-height) - var(--footer-height));
  
  padding: 2rem;
}


footer {
  position: fixed;
  bottom: 2px;
  left: 0;
  height: var(--footer-height);
  width: 100%;
  background: #e1e3fc;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  z-index: 1000;
}

.help-btn {
  background: #4062c0;
  color: #fff;
  border: none;
  border-radius: 50px;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  cursor: pointer;
  transition: background 0.2s;
  margin-left: 20px;
}

.help-btn:hover {
  background: #042172;
}

.social-icons {
  display: flex;
  gap: 10px;
}

.social-icons a {
  color: #053e77;
  font-size: 1.4rem;
  transition: transform 0.2s ease, color 0.2s ease;
}

.social-icons .linkedin {
  margin-right: 20px;
}

.social-icons .facebook:hover {
  transform: scale(1.2);
  color: #150566;
}

.social-icons .instagram:hover {
  transform: scale(1.2);
  color: #dd2a7b;
}

.social-icons .linkedin:hover {
  transform: scale(1.2);
  color: #360ff7;
}